.container {
  width: 1000px;
  height: auto ;
}

body {
	/* fallback */
	background-color: #1a82f7;
	background: url(images/linear_bg_2.png);
	background-repeat: repeat-x;
  
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#96d0e9), to(#70cc9a));
  
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #96d0e9, #70cc9a);
  
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #96d0e9, #70cc9a);
  
	/* IE 10 */
	background: -ms-linear-gradient(top, #96d0e9, #70cc9a);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #96d0e9, #70cc9a);
	background: #e2e2e2;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin: 1em 0 1em 0;
  width: 710px;
  margin-left: auto;
  margin-right: auto;

}

footer nav {
  float: none;
}

div.field, div.actions {
  margin-bottom: 10px;
}
/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

/* Style error messages */
.field_with_errors {
  margin-top: 0px;
  background-color: #d73535;
  display: table;
}



.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid #d73535;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -3px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .pagination a:hover, .pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }


/* For the stars ;) */
.stars  { margin: 0; padding: 0; list-style: none; }
.stars {
	height: 25px;
	width: 125px;

	background: url('../images/star_test.png') left repeat-x; }
.stars .yellowstars { 
	height: 25px;
	width: 0px;

	background: url('../images/star.png') left repeat-x; } 
.stars .text { text-align:
	right;
	font-size: 10px; 
	}
.floatstars { float: right}

