<h1>biMarks, because even the bookmarks can be bi.</h1>
<p>fuck you i won't do what you tell me</p>
revision 1


<% if signed_in? %>

	<p><b><%= link_to 'New bookmark', new_bookmark_path %> </b></p>

<% end %>
<center>
	<table width=500>
<tr>
<td>

	<table>
	<caption>Most Recent</caption>
	  <tr>
	    	<th>Title</th>
	   	<th>url</th>
		<th>Submitted at</th>
		<th>Submitted by</th>
		<th>Average Rating</th>
	  </tr>


	<%= render @bookmarks_most_recent %>
	</table>
</td>

<td>
	<table >
	<caption>Favorites</caption>
	  <tr>
	    	<th>Title</th>
	   	<th>url</th>
		<th>Submitted at</th>
		<th>Submitted by</th>
		<th>Average Rating</th>
	  </tr>

	<%= render @bookmarks_most_rated %>
	</table>
</td>

</tr>
</table>
</center>

