<h1>Home index</h1>
<p>fuck you i won't do what you tell me</p>
revision 1


<center>
<table width=500>
<tr>
<td>

	<table >
	<caption>Most Recent</caption>
	  <tr>
	    <th>Title</th>
	    <th>Url</th>
	  </tr>

	<% @bookmarks.each do |bookmark| %>
	  <tr>
	    <td><%=  bookmark.title %></td>
	    <td><%= bookmark.url %></td>
	  </tr>
	<% end %>
	</table>
</td>
<td>
	<table >
	<caption>Favorites</caption>
	  <tr>
	    <th>Title</th>
	    <th>Url</th>
	  </tr>

	<% @bookmarks.each do |bookmark| %>
	  <tr>
	    <td><%= bookmark.title %></td>
	    <td><%= bookmark.url %></td>
	  </tr>
	<% end %>
	</table>
</td>
</tr>
</table>
</center>

