<h1>biMarks, when the bookmarks went bi!</h1>
<p>fuck you i won't do what you tell me</p>


<% if signed_in? %>
	<p><b><%= link_to 'New bookmark', new_bookmark_path %> </b></p>
<% end %>

<center>
	<table width=500>
<tr>
<td>

	<table>
	<caption>Most Recent</caption>
	  <tr>
	    	<th>Title</th>
	   	<th>url</th>
		<th>Submitted at</th>
		<th>Submitted by</th>
		<th>Average Rating</th>
	  </tr>

	<%= render @bookmarks_most_recent %>
	</table>
</td>

<td>

	<table>
	<caption>Top Rated</caption>
	  <tr>
	    	<th>Title</th>
	   	<th>url</th>
		<th>Submitted at</th>
		<th>Submitted by</th>
		<th>Average Rating</th>
	  </tr>

	<%= render @bookmarks_top_rated %>
	</table>
</td>

</tr>
</table>
</center>

