<tr class="bookmark">
    <td><%= link_to bookmark.title, bookmark %></td>
    <td><a href="http://<%=bookmark.url %>" target="_blank"><%= bookmark.url %></a></td>
    <td><%= bookmark.created_at %></td>
</tr>
