<p>
  <b>Comments:</b><br />
  <ul >
    <% for comment in @bookmark.comments do %>
      <li><%= comment.content %></li>
      by: <%= comment.user.username %> | <%= time_ago_in_words(comment.created_at) %> ago
      <% if comment.flagged %>| this shit is flagged 
      <% else %>
      | <%= link_to "Flag it!", flag_comment_path(comment), :method => :post, :remote => 'true' %><% end%>
      <% end %>
  </ul>
</p>
<HTML>
