<% if signed_in? %>
  <section id="tag_form">
  <%= form_for @current_bookmar_rating, :bookmark => @bookmark do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="center"><%= submit_tag "Add new Tag!" %></div>
  </div>
  <%end %>
  </section>
<% end %>
