<h1>Listing bookmarks</h1>

<%= will_paginate %>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Added</th>
    <th>Submitted by</th>
    <th>Average Rating</th>
  </tr>

	<%= render @bookmarks %>
</table>

<br />
<%= will_paginate %>
<%= link_to 'New Bookmark', new_bookmark_path %>
