<h1>Listing bookmarks</h1>

<%= paginate @bookmarks %>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Submitted at</th>
    <th>Submitted by</th>
  </tr>

<%= render @bookmarks %>
</table>
<br/>
<%= paginate @bookmarks %>
<%= link_to 'New Bookmark', new_bookmark_path %>
